.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
}
.icon .fa {
  font-size: 21px;
}
.icon.is-small {
  height: 1rem;
  width: 1rem;
}
.icon.is-small .fa {
  font-size: 14px;
}
.icon.is-medium {
  height: 2rem;
  width: 2rem;
}
.icon.is-medium .fa {
  font-size: 28px;
}
.icon.is-large {
  height: 3rem;
  width: 3rem;
}
.icon.is-large .fa {
  font-size: 42px;
}
